# Dependency directories
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build outputs
/build
/dist
/.next
/out
target/
**/target/
*.class

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Debug logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log* 